/*header caleg ===============================*/ 
.caleg-main {
	width:400px;
}

.data-align-center{
	display: flex !important; 
	align-items:center;
}

.data-align-center h1{
	text-align: right;
	width: 100%;
	padding-right: 100px;
}

.footer {
	padding-bottom: 0;
}

/*detail caleg ================================= */
#caleg .profile 
{
/*    height: 321px;
    width: 265px;*/
margin-top: 2px;
padding:1px;
    display: inline-block;
    }
#caleg .divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
#caleg .emphasis 
{
    border-top: 1px solid transparent;
    }

#caleg .emphasis h2
{
    margin-bottom:0;
    }
#caleg span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
#caleg .profile strong,span,div{
    text-transform: initial;
}

#caleg figure{
	padding: 20px 0;
}
#caleg p{
    margin: 0 0 10px;
}

#caleg .well{
	background-color: rgba(255,255,255,0.15);
}


/*navbar ==================================*/
@media (min-width: 991px) {
/*
	.top-nav-collapse a {
		color: #3d3d3d;
	}*/

}

.bg-yellow{
  background-color: #ffed00;
  color: #fff;
}

.border-yellow{
  border-color: #ffed00;
}

/*font ====================================*/

.ft-yellow{
	color: #dad310;
}


/*tab*/
.btn-votes {
    font-size: 10px !important;
    padding: 4px 6px;
}


figure .img-circle-custom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}