.buttons-columnVisibility{
	width: 100%;
}
.bs-callout {
	padding: 15px;
	margin: 30px 0;
	border: 1px solid #eee;;
	border-left-width: 5px;
	border-radius: 3px;
	background: #eee;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 0px;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-success h4 {
	color: #5cb85c;
}


.inputpicker-div {
    width: 100% !important;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
}

.widget-user .widget-user-image>img{
	border:none;
}

.dropdown-post-menu {
    overflow-y: scroll;
    height: 200px;
}